$pageBgColor:black;
$myColor:green;
$navBgColor:rgb(1,27,81);
$navSmallMenuColor:white;
$headerBorderColor:rgb(26,26,25);


$myFont: Helvetica, sans-serif;
$navFont:Comic Sans Ms;


$myFontSize: 1.5em;



$myWidth: 56em;
$pageWidth:93em;



$infoHeight:2.5em;
$headerHeight:45em;


$tablet:768px;
$phone:500px;