@use 'components/variables' as *;
@use 'components/header' as *;

html,body{
box-sizing:border-box;
padding:0;
margin:auto;
height:100%;
overflow:hide;
background-color:inherit;
}
#app{
height:100%;
width:100%;

}
a{
color:inherit;

}